# Compiled class file
src/*.class

# Log file
src/*.log

# Hidden files
.*

# Processing out
out
out/*

# Package Files #
src/*.jar
src/*.war
src/*.ear
src/*.zip
src/*.tar.gz
src/*.rar

# Include .gitignore
!.gitignore
